Importer for pakker som brukes i oppgaven

In [57]:
import pandas as pd
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn

Importerer titanic filen fra github og legger den inn i pandas dataframe

In [58]:
titanic_data= pd.read_csv("https://raw.githubusercontent.com/rhe048/Info180/main/titanic.csv" , sep=",")

from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split

print(titanic_data)

     Survived  Pclass                                               Name  \
0           0       3                             Mr. Owen Harris Braund
1           1       1  Mrs. John Bradley (Florence Briggs Thayer) Cum...
2           1       3                              Miss. Laina Heikkinen
3           1       1        Mrs. Jacques Heath (Lily May Peel) Futrelle
4           0       3                            Mr. William Henry Allen
..        ...     ...                                                ...
882         0       2                               Rev. Juozas Montvila
883         1       1                        Miss. Margaret Edith Graham
884         0       3                     Miss. Catherine Helen Johnston
885         1       1                               Mr. Karl Howell Behr
886         0       3                                 Mr. Patrick Dooley

        Sex   Age  Siblings/Spouses Aboard  Parents/Children Aboard     Fare
0      male  22.0                        1                        0   7.2500
1    female  38.0                        1                        0  71.2833
2    female  26.0                        0                        0   7.9250
3    female  35.0                        1                        0  53.1000
4      male  35.0                        0                        0   8.0500
..      ...   ...                      ...                      ...      ...
882    male  27.0                        0                        0  13.0000
883  female  19.0                        0                        0  30.0000
884  female   7.0                        1                        2  23.4500
885    male  26.0                        0                        0  30.0000
886    male  32.0                        0                        0   7.7500

[887 rows x 8 columns]

In [59]:
print (titanic_data.columns)

Index(['Survived', 'Pclass', 'Name', 'Sex', 'Age', 'Siblings/Spouses Aboard',
       'Parents/Children Aboard', 'Fare'],
      dtype='object')

-Bytter verdier for female og male med 1 for female og 0 for male

-Fjerner navnene fra tabellen

In [60]:
titanic_data = titanic_data[['Survived', 'Pclass',  'Sex', 'Age', 'Siblings/Spouses Aboard',
       'Parents/Children Aboard','Fare']]
titanic_data['Sex'] = titanic_data['Sex'].replace(['male', 'female'], [0,1])

In [61]:
predict = "Survived"  #Label, we want to predict 
X = np.array(titanic_data.drop([predict], 1))
y = np.array(titanic_data[predict])

Deler dataene i testsett og treningsett

In [62]:
X_train, X_test, y_train, y_test = sklearn.model_selection.train_test_split(X, y, test_size=0.2)
X_train, X_test, y_train, y_test = train_test_split(X,y, random_state=1)

Her implementeres Naive Bayes algortimen og skriver ut treffsikkerhet i prosent

In [104]:
from sklearn.naive_bayes import GaussianNB     #BGaussian Naive Bayes: better with more features and larger datasets
nbc = GaussianNB()
nbc.fit(X_train, y_train)
nbc.score(X_test, y_test)
print("Test score: ", nbc.score(X_test, y_test).round(2),"%")

Test score:  0.77 %

KNN algortitme implementeres
https://www.datacamp.com/community/tutorials/k-nearest-neighbor-classification-scikit-learn

In [64]:
scaler = MinMaxScaler()
# transform data
scaled = scaler.fit_transform(titanic_data)

predict = "Survived"                         #Label, we want to predict 
X = np.array(titanic_data.drop([predict], 1))
y = np.array(titanic_data[predict])
X_train, X_test, y_train, y_test = sklearn.model_selection.train_test_split(X, y, test_size=0.1)
X_train, X_test, y_train, y_test = train_test_split(X,y, random_state=1)

In [65]:
"""q = titanic_data.quantile([0.00, 0.25, 0.50, 0.75, 1.00])
col = 'Age'

q1 = titanic_data[((titanic_data[col]>=q[col][0.00]) & (titanic_data[col]<q[col][0.25]))]
q2 = titanic_data[((titanic_data[col]>=q[col][0.25]) & (titanic_data[col]<q[col][0.50]))]
q3 = titanic_data[((titanic_data[col]>=q[col][0.50]) & (titanic_data[col]<q[col][0.75]))]
q4 = titanic_data[((titanic_data[col]>=q[col][0.75]) & (titanic_data[col]<=q[col][1.00]))]

titanic_data = titanic_data.append(q1)
titanic_data = titanic_data.append(q2)
titanic_data = titanic_data.append(q3)
titanic_data = titanic_data.append(q4)
print(titanic_data)
"""

titanic_data.sort_values(by =['Age'], inplace = True)
print(titanic_data)

     Survived  Pclass  Sex    Age  Siblings/Spouses Aboard  \
799         1       3    0   0.42                        0
751         1       2    0   0.67                        1
641         1       3    1   0.75                        2
466         1       3    1   0.75                        2
827         1       2    0   0.83                        1
..        ...     ...  ...    ...                      ...
115         0       3    0  70.50                        0
490         0       1    0  71.00                        0
95          0       1    0  71.00                        0
847         0       3    0  74.00                        0
627         1       1    0  80.00                        0

     Parents/Children Aboard     Fare
799                        1   8.5167
751                        1  14.5000
641                        1  19.2583
466                        1  19.2583
827                        1  18.7500
..                       ...      ...
115                        0   7.7500
490                        0  49.5042
95                         0  34.6542
847                        0   7.7750
627                        0  30.0000

[887 rows x 7 columns]

In [73]:
### Import knearest neighbors Classifier model
from sklearn.neighbors import KNeighborsClassifier

#Create KNN Classifier
knn = KNeighborsClassifier(n_neighbors=3)

#Train the model using the training sets
knn.fit(X_train, y_train)

#Predict the response for test dataset
y_pred = knn.predict(X_test)

In [108]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=5)
knn.fit(X, y)
y_pred = knn.predict(X)
print("Test score: ", knn.score(X_test, y_test).round(2),"%")
print(metrics.accuracy_score(y, y_pred))

Test score:  0.8 %
0.8015783540022547

Linear model
https://scikit-learn.org/stable/auto_examples/linear_model/plot_ols.html

In [75]:
from sklearn import datasets, linear_model
from sklearn.metrics import mean_squared_error, r2_score

In [76]:
scaler = MinMaxScaler()
# transform data
scaled = scaler.fit_transform(titanic_data)
predict = "Survived"  #Label, we want to predict 

X = np.array(titanic_data.drop([predict], 1))
y = np.array(titanic_data[predict])

In [77]:
X_train, X_test, y_train, y_test = sklearn.model_selection.train_test_split(X, y, test_size=0.2)
X_train, X_test, y_train, y_test = train_test_split(X,y, random_state=1)

In [79]:
# import the class
from sklearn.linear_model import LogisticRegression

# instantiate the model (using the default parameters)
logreg = LogisticRegression()

# fit the model with data
logreg.fit(X, y)

# predict the response values for the observations in X
logreg.predict(X)

array([0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0,
       1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0,
       0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1,
       1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0,
       1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0,
       0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0,
       1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1,
       1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1,
       0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1,
       1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0,
       0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0,
       1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0,
       1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0,
       0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0,
       1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1,
       0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1,
       1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1,
       0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1,
       1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1,
       1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1,
       0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0,
       1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0])

In [96]:
# store the predicted response values
y_pred = logreg.predict(X)

# check how many predictions were generated
len(y_pred)

887

In [112]:
print(metrics.accuracy_score(y, y_pred))

print("Test score: ", logreg.score(X_test, y_test).round(2),"%")

0.8015783540022547
Test score:  0.79 %